<h1>Editing schedule</h1>

<p>Current scheduled time: <%= @schedule.scheduled_at %></p>

<%= render "form", locals: { schedule: @schedule, url: schedule_url(@schedule) } %>

<br>

<div>
  <%= link_to "Show this schedule", @schedule %> |
  <%= link_to "Cancel this schedule", schedule_url(@schedule), data: { turbo_method: :delete, confirm: 'Are you sure you want to cancel?' } %>
</div>
