default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch("POSTGRESQL_HOST", "localhost") %>
  port: <%= ENV["POSTGRESQL_PORT"] %>
  username: <%= ENV["POSTGRESQL_USER"] %>
  password: <%= ENV["POSTGRESQL_PASSWORD"] %>

development:
  <<: *default
  database: bookme_development

test:
  <<: *default
  database: bookme_test

production:
  <<: *default
  database: bookme_production
  username: bookme
  password: <%= ENV["BOOKME_DATABASE_PASSWORD"] %>
